@page {
  size: 21cm 29.7cm;
  margin: 1rem;
}

body {
  font-size: .85em;
  -webkit-print-color-adjust: exact;
  /* --bs-border-radius: 2px; */
  background: white;
}

.text-header h1,
.box h2,
#awards .description h3,
#education .description h3,
#work .description h3{
  font-size: 1.0em;
  margin: 0;
  padding: 0;
  font-weight: 700;
}


p {
  margin-bottom: 0.2rem;
}

a[href]:after {
  content: none !important;
}

.container {
  width: 100%;
  max-width: 100%;
}

#photo{
  display: none;
}

.box {
  margin-bottom: -10px;
}

blockquote,
#education,
#awards,
.contact-item,
.publication,
.skills,
.interests {
  page-break-inside: avoid;
}

.col-sm-5{
  width: 40%;
  padding: 0 15px;
}

.col-sm-7{
  width: 60%;
  padding: 0 15px;
}

.skills .col-sm-offset-1,
.interests .col-sm-offset-1{
  margin-top: -10px;
  margin-bottom: 5px;
}

#education {
  margin: 0;
  margin-bottom: -20px;
}
/* #awards:before,
#education:before {
  background: none;
} */

.publication,
.publication .panel-heading,
.publication .name{
  margin: 0;
  padding: 0 5px;
  border: none;
}
.publication .panel-body {
  padding: 0 10px;
  margin: 0;
}
ul#work {
  padding-top: 0px;
}
.badge {
  margin: 2px;
  font-size: 0.8em;
  /* --bs-badge-border-radius: var(--bs-border-radius); */
}

.list-group-item{
  border: none;
  margin: 0;
  padding: 5px 15px;
}

.list-group-item:after{
  content: '';
  position: absolute;
  top: 8px;
  right: 0;
  left: -1px;
  height: 0;
  width: 0;
  border: solid transparent;
  border-right-color: #999;
  border-width: 4px;
  pointer-events: none;
 }

 /* .pull-right {
  margin-top: 30px;
  margin-bottom: 30px;
 } */

#awards .year,
#work .year-start,
#work .year{
  width: 60px;
}

#info,
#education list {
  display: none;
}

#education .year,
#education .year-start{
  width: 60px;
}


#details{
  page-break-before: always;
}

/* #work li{
  page-break-before: auto;
} */

.§contact-item .icon,
.contact-item .title.only {
  margin-top: 0px;
  padding: 0px;
}
