@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800);
@charset "utf-8";
@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

/* hide elements on screen but print */
@media only screen {
  .hide {
    display: none;
  }
}

body{
  --main-color-primary: cornflowerblue;
  --main-color-secondary: white;
  --main-color-third: #334960:
  font-family: 'Open Sans', Arial, Tahoma;
  font-weight: 400;
  color: #363636;
  background: var(--main-color-primary);
  font-size: 0.95em;
}

blockquote {
  font-size: 1em;
}

h4 {
  color: var(--main-color-primary);
  font-weight: 900;
  font-size: 0.98em;
  padding-top: 0.6em;
}

#info{
  background: var(--main-color-primary);
  color: var(--main-color-secondary);
  margin-top: 5px;
  padding: 10px;
}

#info a {
  color: white;
  text-decoration: none;
}

#summary{
  margin-top: 80px;
  background: var(--main-color-secondary);
}

#details{
  margin-bottom: 15px;
  background: var(--main-color-secondary);
}

#photo-header{
  margin-top: -75px;
}

#photo{
  width: 160px;
  height: 160px;
  border-radius: 50%;
  overflow: hidden;
  padding: 5px;
  background: var(--main-color-third);
  display: inline-block;
}

#photo img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

#text-header h1{
  margin: 0;
  padding: 0;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -1px;
}

#text-header h1::first-line{
  font-size: 1.5em;
  font-weight: 800;
  line-height: 1.5em;
}

#text-header h1 span{
  color: var(--main-color-third);
  opacity: 0.7;
}

#text-header h1 sup{
  opacity: 0.5;
}

#text-header:after{
  width: 100%;
  height: 3px;
  margin-top: 15px;
  content: '';
  display: block;
}

.box{
  padding-bottom: 10px;
  margin-bottom: 25px;
}

.box h2{
  color: var(--main-color-primary);
  font-size: 1.5em;
  font-weight: 700;
  /* text-transform: uppercase; */
}

#awards,
#education,
#volunteer,
#work {
  margin-bottom: 0;
  position: relative;
  padding: 1em 0;
  list-style: none;
}

#awards:before,
#volunteer:before, 
#education:before,
#work:before {
  width: 5px;
  height: 100%;
  position: absolute;
  left: 35px;
  top: 0;
  content: ' ';
  display: block;
  background: #32475c;
  background: -moz-linear-gradient(top,  var(--main-color-secondary) 0%, #32475c 7%, #32475c 89%, var(--main-color-secondary) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,var(--main-color-secondary)), color-stop(7%,#32475c), color-stop(89%,#32475c), color-stop(100%,var(--main-color-secondary)));
  background: -webkit-linear-gradient(top,  var(--main-color-secondary) 0%,#32475c 7%,#32475c 89%,var(--main-color-secondary) 100%);
  background: -o-linear-gradient(top,  var(--main-color-secondary) 0%,#32475c 7%,#32475c 89%,var(--main-color-secondary) 100%);
  background: -ms-linear-gradient(top,  var(--main-color-secondary) 0%,#32475c 7%,#32475c 89%,var(--main-color-secondary) 100%);
  background: linear-gradient(to bottom,  var(--main-color-secondary) 0%,#32475c 7%,#32475c 89%,var(--main-color-secondary) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='var(--main-color-secondary)', endColorstr='var(--main-color-secondary)',GradientType=0 );
}

#awards li,
#volunteer li,
#education li,
#work li{
  width: 100%;
  z-index: 2;
  position: relative;
  float: left;
}

#awards .year,
#education .year,
#education .year-start,
#volunteer .year,
#volunteer .year-start,
#work .year-start,
#work .year{
  width: 100px;
  background: var(--main-color-primary);
  color: var(--main-color-secondary);
  text-align: center;
  padding: 3px;
  font-weight: 700;
  font-size: 0.7em;
  display: inline-block;
  border-radius: 4px;
}

#work .year{
  position: absolute;
  top: 10px;
  left: 0;
}

/* #education .year,
#education .year-start{
  width: 75px;
} */

#volunteer .year-start,
#education .year-start, 
#work .year-start{
  position: absolute;
  bottom: 25px;
  left: 0;
}

#summary #awards .description{
  width: 85%;
}

#summary #volunteer .description, 
#summary #education .description, 
#summary #work .description{
  width: 85%;
}

#awards .description,
#volunteer .description, 
#education .description,
#work .description{
  width: 92%;
  display: inline-block;
  position: relative;
  padding: 10px;
}

#awards .description:after,
#education .description:after,
#volunteer .description:after,
#work .description:after {
  content: '';
  position: absolute;
  top: 15px;
  right: 0;
  left: -16px;
  height: 0;
  width: 0;
  border: solid transparent;
  border-width: 8px;
  pointer-events: none;
}

#awards .description h3,
#education .description h3,
#volunteer .description h3,
#work .description h3{
  font-size: 1.2em;
  margin: 0;
  padding: 0;
  font-weight: 700;
}

#awards .description p,
#education .description p,
#volunteer .description p,
#work .description p{
  margin-top: 3px;
  margin-bottom: 3px;
  padding: 0;
}

.job{
  margin-bottom: 15px;
}
.job .details {
  margin-left: 3%;
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
}
.job .where{
  font-size: 1.2em;
  font-weight: bold;
}
.job .year{
  opacity: 0.7;
}
.job .profession{
  font-size: 1.2em;
  font-weight: bold;
}
.job .description{
  line-height: 1.5em;
}
.work .highlights{
  padding: 5px 0;
  font-weight: bold;

}
.job .job-details {
  padding-left: 5%;
  width: 100%;
}
.publication {
  margin-bottom: 0;
}
.publication .name{
  font-size: 1em;
  font-weight: bold;
}
.publication .year{
  opacity: 0.7;
}
.publication p{
  margin: 0;
  padding-top: 10px;
}
.contact-item{
  width: 100%;
  float: left;
}
.contact-item .icon{
  padding: 5px;
  border-right: 1px solid var(--main-color-secondary);
  border-bottom: 1px solid var(--main-color-secondary);
  color: #32475c;
  background: var(--main-color-secondary);
}

div#info .contact-item .icon{
  background: var(--main-color-primary);
  color: var(--main-color-secondary);
  border-right: 0px solid;
  border-bottom: opx solid;
  text-size-adjust: 5px;
}
div#info .contact-item .icon>a{
  background: var(--main-color-secondary);
}
.contact-item:last-child .icon{
  border-bottom: none;
}
.contact-item .title{
  width: 80%;
  width: calc(100% - 55px);
  font-weight: 700;
  opacity: 0.9;
}
.contact-item .title.only{
  margin-top: 5px;
}
.contact-item .description{
  width: 80%;
  width: calc(100% - 55px);
  color: var(--main-color-third);
}

.item-interests,
.item-skills{
  height: 30px;
  color: var(--main-color-third);
  padding: 5px 10px;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.1em;
  font-weight: 600;
}
.interest,
.skill{
  color: var(--main-color-secondary);
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 5px 10px;
  background: #32475c;
  position: relative;
  font-size: .85em;
}
.skill-level {
  background-color: #227c74;
  border-radius: 4px;
  color: var(--main-color-secondary);
  padding: 1px 8px;
  font-size: .75em;
  position: relative;
  margin: 1px 10px;
}

#language-skills .skill{
  margin: 10px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.list {
  margin-left: 0px;
  padding-left: 0px;
  font-family: 'Open Sans', Arial, Tahoma;
  font-weight: 400;
  font-size: 0.95em;
}

ul.list>li {
  display: block;
  padding-left: 1em;
  text-indent: -0.6em;
}

.list-item {
  display: inline-block;
  position: relative;
  padding: .75rem 1.0rem;
  margin-bottom: -1px;
}

.list-group-item {
  padding: var(--bs-list-group-item-padding-y) var(--bs-list-group-item-padding-x);
  border: none;
}

.list-item p, .list p, .list-item div {
  vertical-align: top;
  margin-bottom: 0%;
  font-family: 'Open Sans', Arial, Tahoma;
}

.fa, .fa-brands, .fa-regular, .fa-solid, .fab, .far, .fas {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: var(--fa-display,inline-block);
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

div.contact {
  margin-bottom: 0.5em;
}

div.quote {
  padding-top: 0.5em;
  font-style: italic;
}

.interests .col-sm-12 {
  padding-left: 10px;
}